{
  "openapi": "3.0.3",
  "info": {
    "title": "PERSCOM Personnel Management System (Local)",
    "description": "The PERSCOM API describes how to interact and manipulate your PERSCOM data available at https://perscom.io. The API provides a powerful interface to allow for third-party collaboration and integration with your PERSCOM Dashboard.",
    "termsOfService": "https://perscom.io/privacy-policy",
    "contact": {
      "name": "Deschutes Design Group LLC",
      "url": "https://www.deschutesdesigngroup.com",
      "email": "support@deschutesdesigngroup.com"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://api.perscom.io",
      "description": "Production Environment"
    },
    {
      "url": "https://api.staging.perscom.io",
      "description": "Staging Environment"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "paths": {
    "/{version}/me": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserResource"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResourceMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "summary": "Get the current user",
        "tags": [
          "Me"
        ]
      }
    },
    "/{version}/announcements": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Announcement"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AnnouncementResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Create announcement",
        "tags": [
          "Announcements"
        ]
      },
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnnouncementResource"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResourceMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "summary": "Get a list of announcements",
        "tags": [
          "Announcements"
        ]
      }
    },
    "/{version}/announcements/search": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "enum": [
                            "enabled",
                            "disabled"
                          ]
                        },
                        "parameters": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": [
                        "name"
                      ]
                    }
                  },
                  "filters": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "and",
                            "or"
                          ]
                        },
                        "field": {
                          "type": "string",
                          "enum": [
                            "id",
                            "title",
                            "content",
                            "color",
                            "global",
                            "enabled",
                            "expires_at",
                            "created_at",
                            "updated_at",
                            "deleted_at"
                          ]
                        },
                        "operator": {
                          "type": "string",
                          "enum": [
                            "<",
                            "<=",
                            ">",
                            ">=",
                            "=",
                            "!=",
                            "like",
                            "not like",
                            "ilike",
                            "not ilike",
                            "in",
                            "not in",
                            "all in",
                            "any in"
                          ]
                        },
                        "value": {
                          "type": "string"
                        },
                        "nested": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "enum": [
                                  "and",
                                  "or"
                                ]
                              },
                              "field": {
                                "type": "string",
                                "enum": [
                                  "id",
                                  "title",
                                  "content",
                                  "color",
                                  "global",
                                  "enabled",
                                  "expires_at",
                                  "created_at",
                                  "updated_at",
                                  "deleted_at"
                                ]
                              },
                              "operator": {
                                "type": "string",
                                "enum": [
                                  "<",
                                  "<=",
                                  ">",
                                  ">=",
                                  "=",
                                  "!=",
                                  "like",
                                  "not like",
                                  "ilike",
                                  "not ilike",
                                  "in",
                                  "not in",
                                  "all in",
                                  "any in"
                                ]
                              },
                              "value": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "search": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "description": "A search for the given value will be performed on the following fields: id, title, content, color, global, enabled, expires_at, created_at, updated_at, deleted_at"
                      },
                      "case_sensitive": {
                        "type": "boolean",
                        "description": "(default: true) Set it to false to perform search in case-insensitive way"
                      }
                    }
                  },
                  "sort": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "field": {
                          "type": "string",
                          "enum": [
                            "id",
                            "title",
                            "content",
                            "color",
                            "global",
                            "enabled",
                            "expires_at",
                            "created_at",
                            "updated_at",
                            "deleted_at"
                          ]
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "asc",
                            "desc"
                          ]
                        }
                      },
                      "required": [
                        "field"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnnouncementResource"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResourceMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "summary": "Search for announcements",
        "tags": [
          "Announcements"
        ]
      }
    },
    "/{version}/announcements/{announcement}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "announcement",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AnnouncementResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Get announcement",
        "tags": [
          "Announcements"
        ]
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "announcement",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Announcement"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AnnouncementResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Update announcement",
        "tags": [
          "Announcements"
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "announcement",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "force",
            "description": "Force delete the resource rather than just marking the resource deleted. This cannot be undone.",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AnnouncementResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Delete announcement",
        "tags": [
          "Announcements"
        ]
      }
    },
    "/{version}/announcements/batch": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Announcement"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnnouncementResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Create a batch of announcements",
        "tags": [
          "Announcements"
        ]
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "object",
                    "properties": {
                      "{key}": {
                        "$ref": "#/components/schemas/Announcement"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnnouncementResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Update a batch of announcements",
        "tags": [
          "Announcements"
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "force",
            "description": "Force delete the resource rather than just marking the resource deleted. This cannot be undone.",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "description": "A list of resource IDs"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AnnouncementResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Delete a batch of announcements",
        "tags": [
          "Announcements"
        ]
      }
    },
    "/{version}/assignment-records": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "comments",
                "comments.*",
                "document",
                "position",
                "specialty",
                "status",
                "unit",
                "unit.*",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignmentRecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssignmentRecordResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Create records assignment",
        "tags": [
          "Assignment Records"
        ]
      },
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "comments",
                "comments.*",
                "document",
                "position",
                "specialty",
                "status",
                "unit",
                "unit.*",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssignmentRecordResource"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResourceMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "summary": "Get a list of records assignments",
        "tags": [
          "Assignment Records"
        ]
      }
    },
    "/{version}/assignment-records/{assignment_record}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "assignment_record",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "comments",
                "comments.*",
                "document",
                "position",
                "specialty",
                "status",
                "unit",
                "unit.*",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssignmentRecordResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Get records assignment",
        "tags": [
          "Assignment Records"
        ]
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "assignment_record",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "comments",
                "comments.*",
                "document",
                "position",
                "specialty",
                "status",
                "unit",
                "unit.*",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignmentRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssignmentRecordResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Update records assignment",
        "tags": [
          "Assignment Records"
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "assignment_record",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "force",
            "description": "Force delete the resource rather than just marking the resource deleted. This cannot be undone.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "comments",
                "comments.*",
                "document",
                "position",
                "specialty",
                "status",
                "unit",
                "unit.*",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssignmentRecordResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Delete records assignment",
        "tags": [
          "Assignment Records"
        ]
      }
    },
    "/{version}/assignment-records/batch": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "comments",
                "comments.*",
                "document",
                "position",
                "specialty",
                "status",
                "unit",
                "unit.*",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AssignmentRecord"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssignmentRecordResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Create a batch of records assignments",
        "tags": [
          "Assignment Records"
        ]
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "comments",
                "comments.*",
                "document",
                "position",
                "specialty",
                "status",
                "unit",
                "unit.*",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "object",
                    "properties": {
                      "{key}": {
                        "$ref": "#/components/schemas/AssignmentRecord"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssignmentRecordResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Update a batch of records assignments",
        "tags": [
          "Assignment Records"
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "force",
            "description": "Force delete the resource rather than just marking the resource deleted. This cannot be undone.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "comments",
                "comments.*",
                "document",
                "position",
                "specialty",
                "status",
                "unit",
                "unit.*",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "description": "A list of resource IDs"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssignmentRecordResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Delete a batch of records assignments",
        "tags": [
          "Assignment Records"
        ]
      }
    },
    "/{version}/attachments": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "model"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Attachment"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AttachmentResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Create attachment",
        "tags": [
          "Attachments"
        ]
      },
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "model"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AttachmentResource"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResourceMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "summary": "Get a list of attachments",
        "tags": [
          "Attachments"
        ]
      }
    },
    "/{version}/attachments/{attachment}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "attachment",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "model"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AttachmentResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Get attachment",
        "tags": [
          "Attachments"
        ]
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "attachment",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "model"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Attachment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AttachmentResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Update attachment",
        "tags": [
          "Attachments"
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "attachment",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "force",
            "description": "Force delete the resource rather than just marking the resource deleted. This cannot be undone.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "model"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AttachmentResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Delete attachment",
        "tags": [
          "Attachments"
        ]
      }
    },
    "/{version}/attachments/batch": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "model"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Attachment"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AttachmentResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Create a batch of attachments",
        "tags": [
          "Attachments"
        ]
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "model"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "object",
                    "properties": {
                      "{key}": {
                        "$ref": "#/components/schemas/Attachment"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AttachmentResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Update a batch of attachments",
        "tags": [
          "Attachments"
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "force",
            "description": "Force delete the resource rather than just marking the resource deleted. This cannot be undone.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "model"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "description": "A list of resource IDs"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AttachmentResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Delete a batch of attachments",
        "tags": [
          "Attachments"
        ]
      }
    },
    "/{version}/awards": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "image"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Award"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AwardResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Create award",
        "tags": [
          "Awards"
        ]
      },
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "image"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AwardResource"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResourceMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "summary": "Get a list of awards",
        "tags": [
          "Awards"
        ]
      }
    },
    "/{version}/awards/{award}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "award",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "image"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AwardResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Get award",
        "tags": [
          "Awards"
        ]
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "award",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "image"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Award"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AwardResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Update award",
        "tags": [
          "Awards"
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "award",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "force",
            "description": "Force delete the resource rather than just marking the resource deleted. This cannot be undone.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "image"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AwardResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Delete award",
        "tags": [
          "Awards"
        ]
      }
    },
    "/{version}/awards/batch": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "image"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Award"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AwardResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Create a batch of awards",
        "tags": [
          "Awards"
        ]
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "image"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "object",
                    "properties": {
                      "{key}": {
                        "$ref": "#/components/schemas/Award"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AwardResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Update a batch of awards",
        "tags": [
          "Awards"
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "force",
            "description": "Force delete the resource rather than just marking the resource deleted. This cannot be undone.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "image"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "description": "A list of resource IDs"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AwardResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Delete a batch of awards",
        "tags": [
          "Awards"
        ]
      }
    },
    "/{version}/awards/{award}/image": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "award",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Image"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ImageResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Create image",
        "tags": [
          "Awards Image"
        ]
      }
    },
    "/{version}/awards/{award}/image/{image}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "award",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "image",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ImageResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Get image",
        "tags": [
          "Awards Image"
        ]
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "award",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "image",
            "in": "path",
            "required": true
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Image"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ImageResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Update image",
        "tags": [
          "Awards Image"
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "award",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "image",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "force",
            "description": "Force delete the resource rather than just marking the resource deleted. This cannot be undone.",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ImageResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Delete image",
        "tags": [
          "Awards Image"
        ]
      }
    },
    "/{version}/award-records": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "award",
                "award.image",
                "comments",
                "comments.*",
                "document",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwardRecord"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AwardRecordResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Create records award",
        "tags": [
          "Award Records"
        ]
      },
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "award",
                "award.image",
                "comments",
                "comments.*",
                "document",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AwardRecordResource"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/ResourceLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/ResourceMeta"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          }
        },
        "summary": "Get a list of records awards",
        "tags": [
          "Award Records"
        ]
      }
    },
    "/{version}/award-records/{award_record}": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "award_record",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "with_trashed",
            "description": "Include deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "only_trashed",
            "description": "Only return deleted resources.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "award",
                "award.image",
                "comments",
                "comments.*",
                "document",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AwardRecordResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Get records award",
        "tags": [
          "Award Records"
        ]
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "award_record",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "award",
                "award.image",
                "comments",
                "comments.*",
                "document",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AwardRecord"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AwardRecordResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          },
          "422": {
            "description": "Validation error"
          }
        },
        "summary": "Update records award",
        "tags": [
          "Award Records"
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "integer"
            },
            "name": "award_record",
            "in": "path",
            "required": true
          },
          {
            "schema": {
              "type": "boolean"
            },
            "name": "force",
            "description": "Force delete the resource rather than just marking the resource deleted. This cannot be undone.",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "award",
                "award.image",
                "comments",
                "comments.*",
                "document",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AwardRecordResource"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Delete records award",
        "tags": [
          "Award Records"
        ]
      }
    },
    "/{version}/award-records/batch": {
      "post": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "award",
                "award.image",
                "comments",
                "comments.*",
                "document",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/AwardRecord"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AwardRecordResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Create a batch of records awards",
        "tags": [
          "Award Records"
        ]
      },
      "patch": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
            },
            "name": "version",
            "in": "path",
            "required": true,
            "description": "The API version to use."
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "attachments",
                "author",
                "author.*",
                "award",
                "award.image",
                "comments",
                "comments.*",
                "document",
                "user",
                "user.*"
              ]
            },
            "name": "include",
            "in": "query"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resources": {
                    "type": "object",
                    "properties": {
                      "{key}": {
                        "$ref": "#/components/schemas/AwardRecord"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AwardRecordResource"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation error"
          },
          "401": {
            "description": "Unauthenticated"
          },
          "403": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Resource not found"
          }
        },
        "summary": "Update a batch of records awards",
        "tags": [
          "Award Records"
        ]
      },
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "v1",
                "v2"
              ],
              "default": "v2"
[...]
